@page "/"

@using System.Net.Http
@using System.Net.Http.Json
@using Data

@inject HttpClient Http
@inject NavigationManager Navigate

<PageTitle>Nightlife - Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    @oUser?.Email
</div>


@code {
    UserDTO? oUser = new UserDTO();
    public string Url = "/api/user";

    protected override async Task OnInitializedAsync() =>
    oUser = await Http.GetFromJsonAsync<UserDTO>(Url);
}
