@page "/"

@using System.Net.Http
@using System.Net.Http.Json
@using Data

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject HttpClient Http
@inject NavigationManager Navigate


<PageTitle>Nightlife - Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        The user: @context.User.FindFirst(ClaimTypes.Email)!.Value is authorized
    </Authorized>
    <NotAuthorized>
        The User is not authorized
    </NotAuthorized>
</AuthorizeView>

@code {
    UserDTO? oUser = new UserDTO();
    public string Url = "/api/user";




}
