@page "/login"
@layout AuthLayout

@using System.Net.Http
@using System.Net.Http.Json
@using Data

@inject HttpClient Http
@inject NavigationManager Navigate

<PageTitle>Nightlife - Login</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="pa-10 my-10 ">
        <EditForm Model="@oUser" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <MudText Typo="Typo.h4">Login</MudText>

            <MudTextField Label="Email" @bind-Value="oUser.Email" For="@(() => oUser.Email)" />

            <MudTextField Label="Password" @bind-Value="oUser.Password" For="@(() => oUser.Password)"
                InputType="InputType.Password" />

            <div class="d-flex align-center justify-space-between">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                    Class="ml-auto">
                    Login
                </MudButton>
            </div>
        </EditForm>
    </MudPaper>
</MudContainer>

@code {
    UserLoginDto oUser = new UserLoginDto();
    public string Url = "/login?useCookies=true";
    private async Task OnValidSubmit()
    {
        var res = await Http.PostAsJsonAsync<UserLoginDto>(Url, oUser);

        if (res.IsSuccessStatusCode)
        {
            StateHasChanged();
            Navigate.NavigateTo("/");
        }
        else
        {
            var oError = await res.Content.ReadFromJsonAsync<ErrorResponseDto>();
        }
    }
}
